html.dark .btn{
    color: #FFF;
    background-color: theme('colors.slate.950');
}

.btn {
    border-radius: theme('borderRadius.DEFAULT');
    color: #000;
    background-color: #FFF;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    padding: theme('spacing.5') theme('spacing.2');
}

.btn.btn-xl{
    font-size: theme('fontSize.2xl');
}
